<h1>Are you SURE you want to delete this project?</h1>

<form action="/delete/<%= @project.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger" name="button">Delete Project</button>
</form>
