<h1>Title: <%= @project.title %></h1>

<h3>Update a Project</h3>
<form class="" action="/update/<%= @project.id %>" method="post">
  <label for="title">Update the title of the project:</label>
  <input type="text" name="title">
  <input type="hidden" name="_method" value="patch">
  <button type="submit" name="button">Update Project</button>
</form>

<a href="/projects/<%= @project.id %>/edit">Delete a project</a>
