<h1>Project: <%= @project.title %></h1>

<% if @assigned_volunteers.any? %>
<h3>Assigned Volunteers</h3>
<ul>
  <% @assigned_volunteers.each do |volunteer| %>
  <li><%=volunteer.name %></li>
  <% end %>
</ul>
<% else %>
  <p>There are no volunteers assigned to this project.</p>
<% end %>

<h3>Update a Project</h3>
<form class="" action="/update/<%= @project.id %>" method="post">
  <label for="title">Update the title of the project:</label>
  <input type="text" name="title">
  <input type="hidden" name="_method" value="patch">
  <button type="submit" name="button">Update Project</button>
</form>

<a href="/projects/<%= @project.id %>/edit">Delete a project</a><br>
<a href="/">Back</a>
